USE [master]
GO
/****** Object:  Database [Trenia2]    Script Date: 31.05.2026 22:03:47 ******/
CREATE DATABASE [Trenia2]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trenia2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trenia2]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IdCategory] [int] NOT NULL,
	[Category] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EdIzm]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdIzm](
	[IdEdIzm] [int] NOT NULL,
	[EdIzm] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_EdIzm] PRIMARY KEY CLUSTERED 
(
	[IdEdIzm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavshik]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavshik](
	[IdPost] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Postavshik] PRIMARY KEY CLUSTERED 
(
	[IdPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvoditel]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvoditel](
	[IdProizv] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Proizvoditel] PRIMARY KEY CLUSTERED 
(
	[IdProizv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PunckVidachi]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PunckVidachi](
	[IdPuncta] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Adres] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_PunckVidachi] PRIMARY KEY CLUSTERED 
(
	[IdPuncta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] NOT NULL,
	[Role] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SostavZakaz]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SostavZakaz](
	[Id] [int] NOT NULL,
	[IdTovar] [int] NOT NULL,
	[IdZakaz] [int] NOT NULL,
	[KolZak] [int] NOT NULL,
 CONSTRAINT [PK_SostavZakaz] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[IdStatus] [int] NOT NULL,
	[Status] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[IdTovar] [int] NOT NULL,
	[Articul] [nvarchar](250) NOT NULL,
	[NameTovar] [nvarchar](250) NOT NULL,
	[IdEdIzm] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[IdPost] [int] NOT NULL,
	[IdProiz] [int] NOT NULL,
	[IdCategory] [int] NOT NULL,
	[Sale] [int] NOT NULL,
	[KolSklad] [int] NOT NULL,
	[Opisanie] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](250) NULL,
 CONSTRAINT [PK_Tovar] PRIMARY KEY CLUSTERED 
(
	[IdTovar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[Fio] [nvarchar](250) NOT NULL,
	[Login] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz]    Script Date: 31.05.2026 22:03:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz](
	[IdZakaz] [int] NOT NULL,
	[IdAdres] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[Kod] [int] NOT NULL,
	[DataZak] [date] NOT NULL,
	[DataDost] [date] NOT NULL,
 CONSTRAINT [PK_Zakaz] PRIMARY KEY CLUSTERED 
(
	[IdZakaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([IdCategory], [Category]) VALUES (1, N'Мужская обувь')
INSERT [dbo].[Category] ([IdCategory], [Category]) VALUES (2, N'Женская обувь')
GO
INSERT [dbo].[EdIzm] ([IdEdIzm], [EdIzm]) VALUES (1, N'шт.')
GO
INSERT [dbo].[Postavshik] ([IdPost], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Postavshik] ([IdPost], [Name]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Proizvoditel] ([IdProizv], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Proizvoditel] ([IdProizv], [Name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Proizvoditel] ([IdProizv], [Name]) VALUES (3, N'Рос')
GO
INSERT [dbo].[PunckVidachi] ([IdPuncta], [Number], [Adres]) VALUES (1, 1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[PunckVidachi] ([IdPuncta], [Number], [Adres]) VALUES (2, 2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[PunckVidachi] ([IdPuncta], [Number], [Adres]) VALUES (3, 3, N'630370, г. Лесной, ул. Шоссейная, 24')
GO
INSERT [dbo].[Role] ([IdRole], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([IdRole], [Role]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([IdRole], [Role]) VALUES (3, N'Авторизированный клиент')
GO
INSERT [dbo].[SostavZakaz] ([Id], [IdTovar], [IdZakaz], [KolZak]) VALUES (1, 1, 1, 2)
INSERT [dbo].[SostavZakaz] ([Id], [IdTovar], [IdZakaz], [KolZak]) VALUES (2, 3, 2, 1)
INSERT [dbo].[SostavZakaz] ([Id], [IdTovar], [IdZakaz], [KolZak]) VALUES (3, 5, 3, 10)
GO
INSERT [dbo].[Status] ([IdStatus], [Status]) VALUES (1, N'Завершен')
INSERT [dbo].[Status] ([IdStatus], [Status]) VALUES (2, N'Новый ')
GO
INSERT [dbo].[Tovar] ([IdTovar], [Articul], [NameTovar], [IdEdIzm], [Price], [IdPost], [IdProiz], [IdCategory], [Sale], [KolSklad], [Opisanie], [Photo]) VALUES (1, N'А112Т4', N'Ботинки', 1, 4990.0000, 1, 1, 2, 3, 6, N'Женские Ботинки демисезонные 1', N'1.jpg')
INSERT [dbo].[Tovar] ([IdTovar], [Articul], [NameTovar], [IdEdIzm], [Price], [IdPost], [IdProiz], [IdCategory], [Sale], [KolSklad], [Opisanie], [Photo]) VALUES (2, N'F635R4', N'Ботинки', 1, 3244.0000, 2, 2, 2, 2, 13, N'Ботинки 2 женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Tovar] ([IdTovar], [Articul], [NameTovar], [IdEdIzm], [Price], [IdPost], [IdProiz], [IdCategory], [Sale], [KolSklad], [Opisanie], [Photo]) VALUES (3, N'H782T5', N'Туфли', 1, 4499.0000, 1, 1, 1, 4, 5, N'Туфли 1 мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
GO
INSERT [dbo].[User] ([IdUser], [IdRole], [Fio], [Login], [Password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([IdUser], [IdRole], [Fio], [Login], [Password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([IdUser], [IdRole], [Fio], [Login], [Password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
GO
INSERT [dbo].[Zakaz] ([IdZakaz], [IdAdres], [IdUser], [IdStatus], [Kod], [DataZak], [DataDost]) VALUES (1, 1, 4, 1, 901, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date))
INSERT [dbo].[Zakaz] ([IdZakaz], [IdAdres], [IdUser], [IdStatus], [Kod], [DataZak], [DataDost]) VALUES (2, 11, 1, 1, 902, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date))
INSERT [dbo].[Zakaz] ([IdZakaz], [IdAdres], [IdUser], [IdStatus], [Kod], [DataZak], [DataDost]) VALUES (3, 2, 2, 1, 903, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date))
GO
ALTER TABLE [dbo].[SostavZakaz]  WITH CHECK ADD  CONSTRAINT [FK_SostavZakaz_Tovar] FOREIGN KEY([IdTovar])
REFERENCES [dbo].[Tovar] ([IdTovar])
GO
ALTER TABLE [dbo].[SostavZakaz] CHECK CONSTRAINT [FK_SostavZakaz_Tovar]
GO
ALTER TABLE [dbo].[SostavZakaz]  WITH CHECK ADD  CONSTRAINT [FK_SostavZakaz_Zakaz] FOREIGN KEY([IdZakaz])
REFERENCES [dbo].[Zakaz] ([IdZakaz])
GO
ALTER TABLE [dbo].[SostavZakaz] CHECK CONSTRAINT [FK_SostavZakaz_Zakaz]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([IdCategory])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Category]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_EdIzm] FOREIGN KEY([IdEdIzm])
REFERENCES [dbo].[EdIzm] ([IdEdIzm])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_EdIzm]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Postavshik] FOREIGN KEY([IdPost])
REFERENCES [dbo].[Postavshik] ([IdPost])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Postavshik]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Proizvoditel] FOREIGN KEY([IdProiz])
REFERENCES [dbo].[Proizvoditel] ([IdProizv])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Proizvoditel]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_PunckVidachi] FOREIGN KEY([IdAdres])
REFERENCES [dbo].[PunckVidachi] ([IdPuncta])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_PunckVidachi]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([IdStatus])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Status]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_User]
GO
USE [master]
GO
